
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-xiazai:before { content: "\e623"; }
.icon-star:before { content: "\e62b"; }
.icon-bianji:before { content: "\e602"; }
.icon-help:before { content: "\e616"; }
.icon-shi:before { content: "\e622"; }
.icon-add:before { content: "\e61a"; }
.icon-sanjiao:before { content: "\e625"; }
.icon-phone:before { content: "\e600"; }
.icon-nv:before { content: "\e61b"; }
.icon-email:before { content: "\e60f"; }
.icon-star1:before { content: "\e621"; }
.icon-password:before { content: "\e610"; }
.icon-xianshidanmu:before { content: "\e626"; }
.icon-guanbidanmu:before { content: "\e627"; }
.icon-user:before { content: "\e611"; }
.icon-xiao11:before { content: "\e61c"; }
.icon-zliconpassword01:before { content: "\e612"; }
.icon-siglyphsoundmute:before { content: "\e617"; }
.icon-siglyphsound:before { content: "\e618"; }
.icon-user1:before { content: "\e60e"; }
.icon-shanchu:before { content: "\e62a"; }
.icon-jianli17:before { content: "\e624"; }
.icon-iconfontweibiaoti1015:before { content: "\e613"; }
.icon-iconfontweibiaoti10151:before { content: "\e614"; }
.icon-quxiao:before { content: "\e61d"; }
.icon-xuelijiaoyu:before { content: "\e61e"; }
.icon-iconfontshouye1:before { content: "\e61f"; }
.icon-my-change-password:before { content: "\e615"; }
.icon-facecry:before { content: "\e60c"; }
.icon-search2:before { content: "\e60d"; }
.icon-rate:before { content: "\e619"; }
.icon-attentioncircled:before { content: "\e601"; }
.icon-toggleoff:before { content: "\e603"; }
.icon-toggleon:before { content: "\e604"; }
.icon-user2:before { content: "\e605"; }
.icon-erweima1:before { content: "\e606"; }
.icon-xunhuan:before { content: "\e607"; }
.icon-gou:before { content: "\e608"; }
.icon-weixin:before { content: "\e609"; }
.icon-qq:before { content: "\e60a"; }
.icon-weibo:before { content: "\e60b"; }
.icon-p-man:before { content: "\e620"; }
.icon-danmukai:before { content: "\e628"; }
.icon-danmuguan:before { content: "\e629"; }
